.container-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 16px;
  @media screen and (min-width: 700px) {
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  @media screen and (min-width: 1080px) {
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  @media screen and (min-width: 1430px) {
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
