@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

$background-button: #437056;
$font-button: 'Quicksand', sans-serif;
$radius-button: 10px;

.button {
  width: 250px;
  height: 40px;

  font-size: 14px;
  font-family: $font-button;
  color: #F2F2F2;

  border: none;
  border-radius: $radius-button;
  box-shadow: 0px 1px 5px black;
  background: $background-button;

  cursor: pointer;
  outline: none;
}