@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

$font-button: "Quicksand", sans-serif;
$radius-button: 10px;

.button-empty {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;

  font-size: 14px;
  font-family: $font-button;
  font-weight: 700;
  color: #f2f2f2;

  border: none;
  border-radius: $radius-button;
  box-shadow: 0px 1px 5px black;
  width: 150px;
  margin: 0;
  cursor: pointer;
  outline: none;
  @media (max-width:350px) {
    width: 140px;
  }
}
