.container-checkbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.checkbox-title {
  font-size: 14px;
  font-weight: 500;
  color: #c48b76;
  margin-top: 23px;
  margin-left: 10px;
}
.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 100%;
  // background-color: forestgreen;
  // margin-bottom: 10px;
  margin: 0 3px;
  color: #868686;
}
.input-fechado,
.input-aberto,
.input-acabou {
  display: none;
}
.label-fechado,
.label-aberto,
.label-acabou {
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #868686;
}

.input-fechado:checked + .label-fechado {
  border: none;
  color: #f2f2f2;
  background: #c48b76;
}
.input-aberto:checked + .label-aberto {
  color: #f2f2f2;
  border: none;
  background: #83a390;
}
.input-acabou:checked + .label-acabou {
  color: #f2f2f2;
  border: none;
  background: #868686;
}
