.container-select{
    box-sizing: border-box;
    margin-top: 18px;
    margin-left: 10px;
    position: relative;
    h2{
        margin: 0 0 0 15px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        color: #C48B76;
    }
    
}
.w328{
    box-sizing: border-box;
    background-color: #ffffff;

    padding: 0 0 0 5px;    
    margin: 2px 0 0 6px;

    font-family: Quicksand;
    font-style: normal;
    font-size: 14px;
    color: #C48B76;

    width: 94%;
    height: 40px;

    border: 1px solid #C48B76;
    border-radius: 10px;    
}
.w190{
    padding: 0 0 0 7px;
    margin: 2px 0 0 6px;

    font-family: Quicksand;
    font-style: normal;
    
    width: 190px;
    height: 40px;

    border: 1px solid #C48B76;
    border-radius: 10px;
    
    color: #C48B76;
    background-color: #ffffff;    
}
.menu {
    width: 190px;
    height: 120px;
    padding: 10px 68px 0 18px;

    margin-top: 15px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    color: #2E2E2E;
    
    background-color: #F2F2F2; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 4px;

    :hover{
        background: #DECEC8;
        border-radius: 4px;
    }
}
.place{
    padding: 9px 0 0 7px;
}
.arrow190{
    position: absolute;
    
    left: 165px;
    top: 37px;

}
.arrow328{
    position: absolute;
    
    left: 87%;
    top: 37px;

}

