.container-product {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  color: #c48b76;
  &:focus-within {
    color: #437056;
  }
  .product-title {
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }

  .product-input {
    color: #2e2e2e;
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 0 8px;
    border-radius: 10px;
    border: 1px solid #c48b76;
    outline: none;
    background-color: #f2f2f2;
  }
  ::placeholder {
    color: #d1ab9d;
  }

  .product-input:focus {
    border: 1px solid #437056;
    color: #437056;
  }
}
