.home-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 40px;
  justify-content: space-evenly;
  height: calc(100% - 48px);
  a {
    display: flex;
    justify-content: center;

    width: 100%;
  }
}
