.card-item-container {
  display: flex;
  margin-left: 15px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #ffffff;
  width: 328px;
  height: 122px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  :hover {
    cursor: pointer;
  }
}

.image-container {
  border: 1.5px solid #c48b76;
  box-sizing: border-box;
  border-radius: 15px;
  width: 105px;
  height: 105px;
  padding: 4px;
  position: relative;
  .qnt-box {
    bottom: 5px;
    width: 30px;
    height: 30px;
    justify-content: center;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    position: absolute;
    color: #f2f2f2;
  }
  .item-image {
    width: 90px;
    height: 90px;
  }
}

.item-section {
  .item-name {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #c48b76;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-left: 10px;
  }
  .flag-text {
    display: flex;
    .text-item {
      font-family: Quicksand;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      display: flex;
      padding-right: 70px;
      align-items: center;
    }
  }
}
