.container-modal {
  position: absolute;
  width: 100%;
  height: calc(100% - 97px);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(46, 46, 46, 0.5);
  z-index: 20;
  h2{
    font-size: 14px;
    margin:18px 18px 0 18px;
  }
  .modal {
    margin: 0 14px;
    max-width: 100%;
    background-color: #f2f2f2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
  }
  .container-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button{
      padding: 5px 10px;
      border: none;
      font-size: 14px;
      font-family:Quicksand,Arial, Helvetica, sans-serif;
      font-weight: 700;
      color: #C48B76;
      outline: none;
      background-color: #f2f2f2;
      margin-right: 5px;
      &:hover{
        background-color: #DECEC8;
        border-radius: 5px;
        ;
      }
    }
  }
}
