.search-title {
  font-size: 14px;
  font-weight: 600;
  color: #c48b76;
  margin-top: 12px;
  margin-left: 24px;
}
.search-container {
  display: flex;
  align-items: center;
  position: relative;

  .search-input {
    width: 100%;
    height: 40px;

    font-size: 14px;
    color: #d1ab9d;
    background: #F2F2F2;

    padding: 0 40px;
    margin: 0 16px;
    margin-bottom: 20px;

    border-radius: 10px;
    border: 1px solid #c48b76;

    outline: none;
  }
  ::placeholder {
    color: #d1ab9d;
  }
  .search-img {
    width: 24px;
    position: absolute;
    margin-left: 25px;
    top: 9px;
  }
}
