.container-form {
  margin: 0 16px;
}

.quant-drop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 335px;
  margin: 23px auto;
}
.container-category {
  margin-top: 23px;
}
.container-button {
  max-width: 335px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 23px auto;
}
