@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  font-family: 'Quicksand';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 50, 56);

  width: 100vw;
  height: 100vh;
}
.mock{
  position: relative;

  width: 360px;
  height: 640px;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  
}
