@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Quicksand";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.container {
  overflow: hidden;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  height: calc(100vh - 50px);
}
.container {
  padding-bottom: 55px;
  overflow: auto;
}
/* .mock {
  max-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  position: relative;
} */
