.container-input {
  display: flex;
  flex-direction: column;
  color: #c48b76;
  margin: 0 auto;
  max-width: 330px;

  &:focus-within {
    color: #437056;
  }
  .title {
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }
  .input {
    height: 40px;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid #c48b76;
    color: #2e2e2e;
    background-color: #f2f2f2;
    outline: none;
    margin-bottom: 20px;
  }
  ::placeholder {
    color: #d1ab9d;
  }
  .input:focus {
    border: 1px solid #437056;
    color: #437056;
  }
}
