.container-input {
  display: flex;
  flex-direction: column;
  color: #c48b76;
  &:focus-within {
    color: #437056;
  }
  .title {
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }
  .input {
    width: 100%;
    max-width: 330px;
    height: 40px;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid #C48B76;
    color: #2e2e2e;
    background-color: #F2F2F2;
    outline: none;
  }
  ::placeholder {
    color: #D1AB9D;
  }
  .input:focus {
    border: 1px solid #437056;
    color: #437056;
  }
}
